* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(40, 6, 56);
    color: #fff;
    font-size: 21px;
}

button {
    padding: 6px 10px;
    text-transform: capitalize;
    font-size: 17px;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

button:hover {
    background-color: rgb(161, 159, 159);
}

.page {
    max-width: 680px;
    margin: auto;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   text-align: center;
}

.btn-container {
    margin-top: 23px;
}

#result {
    padding: 20px;
}

